p{ line-height: 1em; }
h1, h2{
    color: #41B584;
    font-weight: normal;
    line-height: 1.1em;
    margin: 10 0 2 0;
}
h1{ font-size: 1.7em; }
h2{ font-size: 1.5em; }
a{
	color: #3C69BA;
	text-decoration: none;
}
a:visited{
	color: #4391B3;
}
a:hover{ 
	color: #285B72
}
body{
    font-family: Garamond; 
    font-size: 90%;
    font-weight: normal;
    line-height: 1.2em; 
    width: 100%; 
    margin: 0; 
    background: white;
}

#page{ 
	width: 80%;
	margin: 0 auto;
}
#image{
	float: right;
	margin-top: 5%;
	margin-bottom: 5%;
}

#logo{
	width: 35%;
	margin-top: 5px;
    
}

#content{
	border-top: 1px #ccc solid;
	margin: 10px 0;
	background: white;

	clear: both;
}
#footer{
	border-top: 1px #ccc solid;
	margin-bottom: 10px;
}
	#footer p{
	
		text-align: right;
		text-transform: lowercase;
		font-size: 85%
	}